{
    "plugins": [
        "stylelint-declaration-use-variable",
        "stylelint-order",
        "stylelint-scss"
    ],
    "rules": {
        "at-rule-no-vendor-prefix": true,
        "block-no-empty": true,
        "color-named": "never",
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "color-no-invalid-hex": true,
        "block-opening-brace-space-before": "always",
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-colon-space-after": "always",
        "declaration-no-important": true,
        "declaration-property-value-blacklist": {
            "/^border/": ["none"]
        },
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-trailing-semicolon": "always",
        "declaration-block-semicolon-newline-after": "always",
        "function-comma-space-after": "always",
        "function-parentheses-space-inside": "never",
        "function-url-quotes": "always",
        "indentation": "tab",
        "length-zero-no-unit": true,
        "max-nesting-depth": 5,
        "media-feature-name-no-vendor-prefix": true,
        "no-duplicate-selectors": true,
        "no-eol-whitespace": true,
        "no-missing-end-of-source-newline": true,
        "number-leading-zero": "always",
        "order/properties-alphabetical-order": true,
        "property-no-unknown": true,
        "property-no-vendor-prefix": true,
        "rule-empty-line-before": "always",
        "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
        "scss/comment-no-loud": true,
        "scss/dollar-variable-colon-space-after": "always",
        "scss/no-duplicate-dollar-variables": true,
        "scss/no-duplicate-mixins": true,
        "scss/selector-no-redundant-nesting-selector": true,
        "selector-class-pattern": "^(?:(?:o|c|u|t|s|is|has|_|js|qa)-)?[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*(?:__[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:--[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:\\[.+\\])?$",
        "selector-list-comma-newline-after": "always",
        "selector-max-id": 0,
        "selector-no-qualifying-type": true,
        "selector-no-vendor-prefix": true,
        "sh-waqar/declaration-use-variable": "color",
        "shorthand-property-no-redundant-values": true,
        "string-quotes": "single",
        "unit-whitelist": ['ch', 'em', 'ex', 'rem', 'cm', 'in', 'mm', 'pc', 'pt', 'px', 'q', 'vh', 'vw', 'vmin', 'vmax', 'deg', 'grad', 'rad', 'turn', 'ms', 's', 'Hz', 'kHz', 'dpi', 'dpcm', 'dppx', '%'],
        "value-no-vendor-prefix": true
    }
}